/* You can add global styles to this file, and also import other style files */

.title {
    text-align: center;
    padding: 25px 0px;
}

.title p {
    font-size: 18px;
}

.card-body a:hover {
    color: #63a6b0;
    text-decoration: none;
}

.content-wrapper {
    height: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.card-footer img {
    max-width: 40px;
    height: auto;
}