<div class="title">
    <h1>Equipos</h1>
</div>
<app-loading *ngIf="Loading"></app-loading>

<div class="row" *ngIf="!Loading">
    <div *ngFor="let team of DataTeams.data" class="col-sm-6 col-md-4 col-lg-3 mb-3">
        <div>
            <div class="card h-100 shadow">
                <div class="card-body">
                    <div class="d-flex mb-4 justify-content-center content-wrapper">
                        <img src="{{team.logo}}" class="img-fluid">
                    </div>
                    <h5 class="card-title d-flex align-items-center">{{team.name}} </h5>
                </div>
                <div class="card-footer">
                    <div class="d-flex"><img alt="" class="mr-3" src="{{team.country.flag}}"><span> {{team.country.name}}</span></div>
                </div>
                <!---->
            </div>
        </div>
    </div>





</div>